on:
  pull_request:
  workflow_call:
  workflow_dispatch:


jobs:
  # This workflow contains a single job called "build"
  validate:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - run: pip install -r app/requirements.txt  # install requirements to enable GitHub run tests
      - run: pwd
      - run: python app/tests_main.py